<div class="col-12">
    List of Product Page
</div>
<div class="col-2">
    Filter by:
</div>
<div class="col-10">
    <select>
        <option>Testtt</option>
    </select>
</div>
<div class="col-12">
    Filtered by ..
</div>

<table class="table">
    <tr>
        <th> <button class="btn btn-primary"> Product Image</button> </th>
        <th> Product Code</th>
        <th> Product Name</th>
        <th> Product Price</th>
        <th> Status</th>
        <th> Rating</th>
    </tr>
    <tbody *ngIf="products.length > 0">
        <tr *ngFor="let product of products">
            <td>
                xxx
            </td>
            <td>{{ product.code }}</td>
            <td>{{ product.name | uppercase | productName: "-"}}</td>
            <td>{{ product.price | number: "1.2" }}</td>
            <td>Yes</td>
            <td>****</td>
        </tr>
    </tbody>
</table>